<div class="main-board">
  <div class="main-title">
    <h1><%= t(".title") %></h1>
    <%= link_to image_tag("App_Store_Badge.svg", class: "app-store-badge"), "https://itunes.apple.com/jp/app/id955717062", target: "_blank" %>
  </div>
</div>
<div class="main-area">
  <div class="app-description">
    <div class="description">
      <h3><%= t(".description") %></h3>
      <%= image_tag("screenshot/detail.png", class: "screenshot") %>
      <%= image_tag("screenshot/profile.png", class: "screenshot") %>
      <%= image_tag("screenshot/settings.png", class: "screenshot") %>
    </div>
  </div>
  <div class="app-description">
    <div class="description gray-back">
      <h3><%= t(".feature") %></h3>
      <table class="functions">
        <tr>
          <td>
            <p><%= fa_icon "twitter" %></p>
            <h4><%= t(".userstream") %></h4>
          </td>
          <td>
            <p><%= fa_icon "bell" %></p>
            <h4><%= t(".push_notification") %></h4>
          </td>
          <td>
            <p><%= fa_icon "comments" %></p>
            <h4><%= t(".direct_message") %></h4>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="app-description">
    <div class="description">
      <h3><%= t(".swipe.title") %></h3>
      <p><%= t(".swipe.description") %></p>
      <%= image_tag("screenshot/list.png", class: "screenshot") %>
      <%= image_tag("screenshot/list1.png", class: "screenshot") %>
      <%= image_tag("screenshot/list2.png", class: "screenshot") %>
    </div>
  </div>
</div>
