<div class="main-board">
  <div class="main-title">
    <h1>Whalebird</h1>
    <p>comming soon...</p>
    <%#= image_tag("App_Store_Badge.svg", class: "app-store-badge") %>
  </div>
</div>
<div class="main-area">
  <div class="app-description">
    <div class="description">
      <h3>whalebirdはシンプルなデザインのtwitterクライアントです</h3>
      <%= image_tag("screenshot/detail.png", class: "screenshot") %>
      <%= image_tag("screenshot/profile.png", class: "screenshot") %>
      <%= image_tag("screenshot/settings.png", class: "screenshot") %>
    </div>
  </div>
  <div class="app-description">
    <div class="description gray-back">
      <h3>対応機能</h3>
      <table class="functions">
	<tr>
	  <td>
	    <p><%= fa_icon "twitter" %></p>
	    <h4>Userstream対応</h4>
	  </td>
	  <td>
	    <p><%= fa_icon "bell" %></p>
	    <h4>プッシュ通知</h4>
	  </td>
	  <td>
	    <p><%= fa_icon "comments" %></p>
	    <h4>DirectMessage対応</h4>
	  </td>
	</tr>
      </table>
    </div>
  </div>
  <div class="app-description">
    <div class="description">
      <h3>スワイプでリストを切り替え</h3>
      <p>自分でリストの並び順をカスタマイズして，スワイプでリスト間の移動ができます．</p>
      <%= image_tag("screenshot/list.png", class: "screenshot") %>
      <%= image_tag("screenshot/list1.png", class: "screenshot") %>
      <%= image_tag("screenshot/list2.png", class: "screenshot") %>
    </div>
  </div>
</div>
