<div class="header">
  <h1>Downloads</h1>
</div>
<p id="notice" class="alert aler-dismissable alert-warning"><%= t(".download.warning") %></p>
<div class="downloads container">
  <div id="windows">
    <h3>Windows</h3>
    <hr class="mb-4 mt-0" />
    <div class="store-link">
      <%= link_to 'https://apps.microsoft.com/store/detail/whalebird/9NBW4CSDV5HC' do %>
        <%= image_tag "desktop/windows_store.svg" %>
      <% end %>
    </div>
  </div>
  <div id="darwin">
    <h3>Mac</h3>
    <hr class="mb-4 mt-0" />
    <div class="input-group mb-3 command">
      <div class="input-group-prepend">
        <span class="input-group-text pr-1">$</span>
      </div>
      <input id="brew" type="text" class="form-control code" aria-label="homebrew" value="brew install --cask whalebird" readonly>
      <div class="input-group-append">
        <button class="input-group-text btn btn-dark" data-clipboard-target="#brew">
          <i class="fas fa-copy"></i>
        </button>
      </div>
    </div>
    <div class="store-link">
      <%= link_to 'https://apps.apple.com/us/app/whalebird/id6445864587' do %>
        <%= image_tag "desktop/app_store_link.svg" %>
      <% end %>
    </div>
  </div>
  <div id="linux">
    <h3>Linux</h3>
    <hr class="mb-4 mt-0" />
    <div class="input-group mb-3 command">
      <div class="input-group-prepend">
        <span class="input-group-text pr-1">$</span>
      </div>
      <input id="yay" type="text" class="form-control code" aria-label="yay" value="yay -S whalebird" readonly>
      <div class="input-group-append">
        <button class="input-group-text btn btn-dark" data-clipboard-target="#yay">
          <i class="fas fa-copy"></i>
        </button>
      </div>
    </div>
    <div class="input-group mb-3 command">
      <div class="input-group-prepend">
        <span class="input-group-text pr-1">$</span>
      </div>
      <input id="flatpak" type="text" class="form-control code" aria-label="flatpak" value="flatpak install flathub social.whalebird.WhalebirdDesktop" readonly>
      <div class="input-group-append">
        <button class="input-group-text btn btn-dark" data-clipboard-target="#flatpak">
          <i class="fas fa-copy"></i>
        </button>
      </div>
    </div>
    <div class="store-link">
      <%= link_to 'https://snapcraft.io/whalebird' do %>
        <%= image_tag "desktop/snap-store.svg" %>
      <% end %>
    </div>
    <%= link_to t(".download.appimage.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <i class="fab fa-linux os mr-2"></i> <%= t(".download.appimage.title") %>
      </button>
    <% end %>
    <%= link_to t(".download.deb64.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <i class="fab fa-linux os mr-2"></i> <%= t(".download.deb64.title") %>
      </button>
    <% end %>
    <%= link_to t(".download.rpm64.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <i class="fab fa-linux os mr-2"></i> <%= t(".download.rpm64.title") %>
      </button>
    <% end %>
    <%= link_to t(".download.tar64.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <i class="fab fa-linux os mr-2"></i> <%= t(".download.tar64.title") %>
      </button>
    <% end %>
  </div>
</div>
