<div class="header">
  <h1>Downloads</h1>
</div>
<div class="downloads container">
  <div id="windows">
    <h3>Windows</h3>
    <hr class="mb-4 mt-0" />
    <%= link_to t(".download.win64.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <div class="download-name">
          <i class="fab fa-windows os mr-2"></i> <%= t(".download.win64.title") %>
        </div>
      </button>
    <% end %>
    <%= link_to t(".download.win32.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <div class="download-name">
          <i class="fab fa-windows os mr-2"></i> <%= t(".download.win32.title") %>
        </div>
      </button>
    <% end %>
  </div>
  <div id="darwin">
    <h3>Mac</h3>
    <hr class="mb-4 mt-0" />
    <div class="input-group mb-3 command">
      <div class="input-group-prepend">
        <span class="input-group-text pr-1">$</span>
      </div>
      <input id="brew" type="text" class="form-control code" aria-label="Amount (to the nearest dollar)" value="brew install --cask whalebird" readonly>
      <div class="input-group-append">
        <button class="input-group-text btn btn-dark" data-clipboard-target="#brew">
          <i class="fas fa-copy"></i>
        </button>
      </div>
    </div>
    <div class="store-link">
      <%= link_to 'https://itunes.apple.com/us/app/whalebird/id1378283354' do %>
        <%= image_tag "desktop/app_store_link.svg" %>
      <% end %>
    </div>
    <%= link_to t(".download.dmg.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <div class="download-name">
          <i class="fab fa-apple os mr-2"></i> <%= t(".download.dmg.title") %>
        </div>
      </button>
    <% end %>
  </div>
  <div id="linux">
    <h3>Linux</h3>
    <hr class="mb-4 mt-0" />
    <div class="input-group mb-3 command">
      <div class="input-group-prepend">
        <span class="input-group-text pr-1">$</span>
      </div>
      <input id="yay" type="text" class="form-control code" aria-label="Amount (to the nearest dollar)" value="yay -S whalebird" readonly>
      <div class="input-group-append">
        <button class="input-group-text btn btn-dark" data-clipboard-target="#yay">
          <i class="fas fa-copy"></i>
        </button>
      </div>
    </div>
    <div class="input-group mb-3 command">
      <div class="input-group-prepend">
        <span class="input-group-text pr-1">$</span>
      </div>
      <input id="snap" type="text" class="form-control code" aria-label="Amount (to the nearest dollar)" value="sudo snap install whalebird" readonly>
      <div class="input-group-append">
        <button class="input-group-text btn btn-dark"  data-clipboard-target="#snap">
          <i class="fas fa-copy"></i>
        </span>
      </div>
    </div>
    <div class="store-link">
      <%= link_to 'https://snapcraft.io/whalebird' do %>
        <%= image_tag "desktop/snap-store.svg" %>
      <% end %>
    </div>
    <%= link_to t(".download.appimage.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <i class="fab fa-linux os mr-2"></i> <%= t(".download.appimage.title") %>
      </button>
    <% end %>
    <%= link_to t(".download.deb64.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <i class="fab fa-linux os mr-2"></i> <%= t(".download.deb64.title") %>
      </button>
    <% end %>
    <%= link_to t(".download.deb32.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <i class="fab fa-linux os mr-2"></i> <%= t(".download.deb32.title") %>
      </button>
    <% end %>
    <%= link_to t(".download.rpm64.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <i class="fab fa-linux os mr-2"></i> <%= t(".download.rpm64.title") %>
      </button>
    <% end %>
    <%= link_to t(".download.rpm32.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <i class="fab fa-linux os mr-2"></i> <%= t(".download.rpm32.title") %>
      </button>
    <% end %>
    <%= link_to t(".download.tar64.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <i class="fab fa-linux os mr-2"></i> <%= t(".download.tar64.title") %>
      </button>
    <% end %>
    <%= link_to t(".download.tar32.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <i class="fab fa-linux os mr-2"></i> <%= t(".download.tar32.title") %>
      </button>
    <% end %>
    <%= link_to t(".download.arm64.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <i class="fab fa-linux os mr-2"></i> <%= t(".download.arm64.title") %>
      </button>
    <% end %>
    <%= link_to t(".download.armv7l.link") do %>
      <button type="button" class="btn btn-info btn-lg download-button">
        <i class="fab fa-linux os mr-2"></i> <%= t(".download.armv7l.title") %>
      </button>
    <% end %>
  </div>
</div>
