<div class="main-board">
  <div class="main-title">
    <h1><%= t(".title") %></h1>
    <h5 class="short-description"><%= t(".short_description") %></h5>

    <div class="downloads">
      <% if browser.platform.windows? %>
        <%= link_to desktop_contents_downloads_path+"#windows" do %>
          <button type="button" class="btn btn-info btn-lg">
            <%= t('.downloads') %>
          </button>
        <% end %>
      <% elsif browser.platform.mac? %>
        <%= link_to desktop_contents_downloads_path+"#darwin" do %>
          <button type="button" class="btn btn-info btn-lg">
            <%= t('.downloads') %>
          </button>
        <% end %>
      <% elsif browser.platform.linux? %>
        <%= link_to desktop_contents_downloads_path+"#linux" do %>
          <button type="button" class="btn btn-info btn-lg">
            <%= t('.downloads') %>
          </button>
        <% end %>
      <% else %>
        <%= link_to desktop_contents_downloads_path do %>
          <button type="button" class="btn btn-info btn-lg">
            <%= t('.downloads') %>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="contents description bg-gray">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="icon">
          <p><i class="fas fa-bell"></i></p>
          <h4><%= t(".description.desktop_notification") %></h4>
        </div>
      </div>
      <div class="col">
        <div class="icon">
          <p><i class="fas fa-comments"></i></p>
          <h4><%= t(".description.streaming") %></h4>
        </div>
      </div>
      <div class="col">
        <div class="icon">
          <p><i class="fas fa-keyboard"></i></p>
          <h4><%= t(".description.shortcut") %></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contents description">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= image_tag "desktop/screenshot/home.png" %>
      </div>
      <div class="col">
        <h3><%= t(".description.home.title") %></h3>
        <p class="body"><%= t(".description.home.body") %></p>
      </div>
    </div>
  </div>
</div>
<div class="contents description">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3><%= t(".description.jump.title") %></h3>
        <p class="body"><%= t(".description.jump.body") %></p>
      </div>
      <div class="col">
        <%= image_tag "desktop/screenshot/jump.png" %>
      </div>
    </div>
  </div>
</div>
<div class="contents description">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= image_tag "desktop/screenshot/dark.png" %>
      </div>
      <div class="col">
        <h3><%= t(".description.theme.title") %></h3>
        <p class="body"><%= t(".description.theme.body") %></p>
      </div>
    </div>
  </div>
</div>
<div class="contents description">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3><%= t(".description.tag.title") %></h3>
        <p class="body"><%= t(".description.tag.body") %></p>
      </div>
      <div class="col">
        <%= image_tag "desktop/screenshot/tag.png" %>
      </div>
    </div>
  </div>
</div>
<div class="contents description">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= image_tag "desktop/screenshot/filter.png" %>
      </div>
      <div class="col">
        <h3><%= t(".description.filter.title") %></h3>
        <p class="body"><%= t(".description.filter.body") %></p>
      </div>
    </div>
  </div>
</div>
<div class="contents description">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3><%= t(".description.proxy.title") %></h3>
        <p class="body"><%= t(".description.proxy.body") %></p>
      </div>
      <div class="col">
        <%= image_tag "desktop/screenshot/network.png" %>
      </div>
    </div>
  </div>
</div>
<div class="contents bg-gray">
  <div class="container">
    <h3><%= t(".donate.title") %></h3>
    <p class="body"><%= t(".donate.description") %></p>
    <p><a href="https://github.com/sponsors/h3poteto"><button type="button" class="btn btn-info">GitHub Sponsor</button></a></p>
    <p><a href="https://www.patreon.com/bePatron?u=15085320" data-patreon-widget-type="become-patron-button">Become a Patron!</a></p>
    <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    <a href="https://liberapay.com/h3poteto/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a>
  </div>
</div>
