<div class="main-board">
  <div class="main-title">
    <h1><%= t(".title") %></h1>
    <h5 class="short-description"><%= t(".short_description") %></h5>
    <div class="downloads">
      <% if browser.platform.windows? %>
        <%= link_to t(".download.win.link") do %>
          <button type="button" class="btn btn-info btn-lg">
            <i class="fas fa-download"></i> <%= t(".download.win.title") %>
          </button>
        <% end %>
      <% elsif browser.platform.mac? %>
        <%= link_to t(".download.dmg.link") do %>
          <button type="button" class="btn btn-info btn-lg">
            <i class="fas fa-download"></i> <%= t(".download.dmg.title") %>
          </button>
        <% end %>
      <% elsif browser.platform.linux? %>
        <%= link_to t(".download.deb.link") do %>
          <button type="button" class="btn btn-info btn-lg">
            <i class="fas fa-download"></i> <%= t(".download.deb.title") %>
          </button>
        <% end %>
        <%= link_to t(".download.rpm.link") do %>
          <button type="button" class="btn btn-info btn-lg">
            <i class="fas fa-download"></i> <%= t(".download.rpm.title") %>
          </button>
        <% end %>
        <%= link_to t(".download.file.link") do %>
          <button type="button" class="btn btn-info btn-lg">
            <i class="fas fa-download"></i> <%= t(".download.file.title") %>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="description bg-gray">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="icon">
          <p><i class="fas fa-bell"></i></p>
          <h4><%= t(".description.desktop_notification") %></h4>
        </div>
      </div>
      <div class="col">
        <div class="icon">
          <p><i class="fas fa-comments"></i></p>
          <h4><%= t(".description.streaming") %></h4>
        </div>
      </div>
      <div class="col">
        <div class="icon">
          <p><i class="fas fa-keyboard"></i></p>
          <h4><%= t(".description.shortcut") %></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="description">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= image_tag "desktop/screenshot/home.png" %>
      </div>
      <div class="col">
        <h3><%= t(".description.home.title") %></h3>
        <p class="body"><%= t(".description.home.body") %></p>
      </div>
    </div>
  </div>
</div>
<div class="description">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3><%= t(".description.jump.title") %></h3>
        <p class="body"><%= t(".description.jump.body") %></p>
      </div>
      <div class="col">
        <%= image_tag "desktop/screenshot/jump.png" %>
      </div>
    </div>
  </div>
</div>
