<%= simple_form_for(@inquiry, url: ios_inquiries_path(@inquiry), wrapper: :horizontal_form, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, placeholder: "contact@example.com" %>
    <%= f.input :body %>
  </div>

  <div class="form-actions">
    <%= f.submit I18n.t("ios.inquiries.new.submit"), class: "btn btn-primary" %>
  </div>
<% end %>
