<%= simple_form_for(@inquiry, url: desktop_contacts_path(@inquiry, locale: params[:locale])) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, placeholder: 'contact@example.com' %>
  <%= f.input :body %>

  <input type="hidden" name="recaptcha_response" id="recaptchaResponse">

  <div class="form-actions">
    <%= f.submit t('desktop.contacts.new.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
