<div class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Whalebird", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to t('layouts.header.notice'), "https://twitter.com/whalebirdorg", target: "_blak" %>
        <li><%= link_to t('layouts.header.help'), helps_path %></li>
        <li><%= link_to t('layouts.header.contact'), new_inquiry_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= I18n.t("locale_name") %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% I18n.available_locales.each do |locale| %>
              <li><%= link_to I18n.t("locale_name", locale: locale), i18n_url_for(params.merge(locale: locale)) %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
