<div class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Whalebird", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	<li><%= link_to "お知らせ", "https://twitter.com/whalebirdorg", target: "_blak" %>
	<li><%= link_to "Q&A", questions_path %></li>
	<li><%= link_to "ヘルプ", helps_path %></li>
	<li><%= link_to "お問い合わせ", new_inquiry_path %></li>
      </ul>
    </div>
  </div>
</div>
